@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}

.cnt {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 130px 1fr auto;
  gap: 8px 0px;
  grid-auto-flow: row;
  height: 100%;
  grid-template-areas: "header header header" "cnt_1 cnt_2 cnt_3" "sec_cupon sec_ngos sec_date";
}
.cnt .header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 8px 8px;
  grid-auto-flow: row;
  grid-template-areas: "sec_title sec_cui";
  grid-area: header;
}
.cnt .header .sec_title {
  padding-bottom: 20px;
  grid-area: sec_title;
}
.cnt .header .sec_title .gr_title {
  width: max-content;
  height: max-content;
  padding: 8px;
  margin: 0 auto;
}
.cnt .header .sec_title .gr_title .title {
  font-size: 4em;
  font-weight: 900;
  color: #FFFFFF;
  text-shadow: 8px 8px 1px rgba(0, 0, 0, 0.3);
}
.cnt .header .sec_title .gr_title .subtitle {
  float: right;
  width: max-content;
  font-size: 1.2em;
  font-weight: 500;
  font-style: italic;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 4px 12px;
  background-color: #FF8607;
  border-radius: 16px;
  box-shadow: 6px 8px 1px rgba(0, 0, 0, 0.3);
}
.cnt .header .sec_cui {
  align-self: center;
  grid-area: sec_cui;
}
.cnt .header .sec_cui .gr_cui {
  width: 90%;
  height: max-content;
  padding: 8px;
  margin: 0 auto;
}
.cnt .header .sec_cui .gr_cui .title {
  font-size: 1.7em;
  font-weight: 600;
  color: #000000;
  padding-left: 20px;
}
.cnt .header .sec_cui .gr_cui .cont_input {
  width: 100%;
  height: 48px;
  font-size: 1.2em;
  font-weight: 500;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 4px 12px;
  background-color: #FFFFFF;
  border-radius: 24px;
}
.cnt .cnt_1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  background-color: #00B3D4;
  grid-template-areas: "cnt1_hd" "cnt1_1";
  grid-area: cnt_1;
}
.cnt .cnt_1 .cnt1_hd {
  grid-area: cnt1_hd;
  padding: 16px;
}
.cnt .cnt_1 .cnt1_hd .cont_check {
  display: grid;
  grid-template-columns: auto 52px;
  grid-template-rows: 52px;
  gap: 0px 8px;
  background-color: #FFFFFF;
  border-radius: 50px;
  width: 100%;
  padding-left: 18px;
  margin: 0 auto;
  box-shadow: 6px 8px 1px rgba(0, 0, 0, 0.3);
  grid-template-areas: "lbl cta";
}
.cnt .cnt_1 .cnt1_hd .cont_check .cta {
  justify-self: center;
  align-self: center;
  grid-area: cta;
}
.cnt .cnt_1 .cnt1_hd .cont_check .lbl {
  justify-self: start;
  align-self: center;
  grid-area: lbl;
  font-size: 1.5em;
}
.cnt .cnt_1 .cnt1_1 {
  grid-area: cnt1_1;
  padding: 16px;
}
.cnt .cnt_1 .cnt1_1 .cont_check {
  display: grid;
  grid-template-columns: 52px auto;
  grid-template-rows: 52px;
  gap: 0px 8px;
  width: 100%;
  padding-right: 18px;
  margin: 0 auto;
  grid-template-areas: "cta lbl ";
}
.cnt .cnt_1 .cnt1_1 .cont_check .cta {
  justify-self: center;
  align-self: center;
  grid-area: cta;
  background-color: #FFFFFF;
  box-shadow: 6px 8px 1px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
}
.cnt .cnt_1 .cnt1_1 .cont_check .lbl {
  justify-self: start;
  align-self: center;
  grid-area: lbl;
  font-size: 1.5em;
}
.cnt .cnt_2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  background-color: #00B3D4;
  border-left: 4px dotted #FFFFFF;
  border-right: 4px dotted #FFFFFF;
  grid-template-areas: "cnt2_hd" "cnt2_1";
  grid-area: cnt_2;
}
.cnt .cnt_2 .cnt2_hd {
  grid-area: cnt2_hd;
  padding: 16px;
}
.cnt .cnt_2 .cnt2_hd .cont_check {
  display: grid;
  grid-template-columns: auto 52px;
  grid-template-rows: 52px;
  gap: 0px 8px;
  background-color: #FFFFFF;
  border-radius: 50px;
  width: 100%;
  padding-left: 18px;
  margin: 0 auto;
  box-shadow: 6px 8px 1px rgba(0, 0, 0, 0.3);
  grid-template-areas: "lbl cta";
}
.cnt .cnt_2 .cnt2_hd .cont_check .cta {
  justify-self: center;
  align-self: center;
  grid-area: cta;
}
.cnt .cnt_2 .cnt2_hd .cont_check .lbl {
  justify-self: start;
  align-self: center;
  grid-area: lbl;
  font-size: 1.5em;
}
.cnt .cnt_2 .cnt2_1 {
  grid-area: cnt2_1;
  padding: 16px;
}
.cnt .cnt_2 .cnt2_1 .cont_check {
  display: grid;
  grid-template-columns: 52px auto;
  grid-template-rows: 52px;
  gap: 0px 8px;
  width: 100%;
  padding-right: 18px;
  margin: 0 auto;
  grid-template-areas: "cta lbl ";
}
.cnt .cnt_2 .cnt2_1 .cont_check .cta {
  justify-self: center;
  align-self: center;
  grid-area: cta;
  background-color: #FFFFFF;
  box-shadow: 6px 8px 1px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
}
.cnt .cnt_2 .cnt2_1 .cont_check .lbl {
  justify-self: start;
  align-self: center;
  grid-area: lbl;
  font-size: 1.5em;
}
.cnt .cnt_3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  background-color: #00B3D4;
  grid-template-areas: "cnt3_hd" "cnt3_1";
  grid-area: cnt_3;
}
.cnt .cnt_3 .cnt3_hd {
  grid-area: cnt3_hd;
  padding: 16px;
}
.cnt .cnt_3 .cnt3_hd .cont_check {
  display: grid;
  grid-template-columns: auto 52px;
  grid-template-rows: 52px;
  gap: 0px 8px;
  background-color: #FFFFFF;
  border-radius: 50px;
  width: 100%;
  padding-left: 18px;
  margin: 0 auto;
  box-shadow: 6px 8px 1px rgba(0, 0, 0, 0.3);
  grid-template-areas: "lbl cta";
}
.cnt .cnt_3 .cnt3_hd .cont_check .cta {
  justify-self: center;
  align-self: center;
  grid-area: cta;
}
.cnt .cnt_3 .cnt3_hd .cont_check .lbl {
  justify-self: start;
  align-self: center;
  grid-area: lbl;
  font-size: 1.5em;
}
.cnt .cnt_3 .cnt3_1 {
  grid-area: cnt3_1;
  padding: 16px;
}
.cnt .cnt_3 .cnt3_1 .cont_check {
  display: grid;
  grid-template-columns: 52px auto;
  grid-template-rows: 52px;
  gap: 0px 8px;
  width: 100%;
  padding-right: 18px;
  margin: 0 auto;
  grid-template-areas: "cta lbl ";
}
.cnt .cnt_3 .cnt3_1 .cont_check .cta {
  justify-self: center;
  align-self: center;
  grid-area: cta;
  background-color: #FFFFFF;
  box-shadow: 6px 8px 1px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
}
.cnt .cnt_3 .cnt3_1 .cont_check .lbl {
  justify-self: start;
  align-self: center;
  grid-area: lbl;
  font-size: 1.5em;
}
.cnt .sec_cupon {
  justify-self: stretch;
  align-self: center;
  grid-area: sec_cupon;
}
.cnt .sec_cupon .gr_cupon {
  width: 90%;
  height: max-content;
  padding: 8px;
  margin: 0 auto;
}
.cnt .sec_cupon .gr_cupon .title {
  font-size: 1em;
  line-height: 2;
  font-weight: 500;
  color: #000000;
  padding-left: 20px;
}
.cnt .sec_cupon .gr_cupon .cont_input {
  width: 100%;
  height: 48px;
  font-size: 1.2em;
  font-weight: 500;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 4px 12px;
  background-color: #FFFFFF;
  border-radius: 24px;
}
.cnt .sec_ngos {
  align-self: center;
  grid-area: sec_ngos;
}
.cnt .sec_date {
  align-self: center;
  grid-area: sec_date;
}
.cnt .sec_date .gr_date {
  width: 90%;
  height: max-content;
  padding: 8px;
  margin: 0 auto;
}
.cnt .sec_date .gr_date .title {
  font-size: 1em;
  line-height: 2;
  font-weight: 500;
  color: #000000;
  padding-left: 20px;
}
.cnt .sec_date .gr_date .cont_input {
  width: 100%;
  height: 48px;
  font-size: 1.2em;
  font-weight: 500;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 4px 12px;
  background-color: #FFFFFF;
  border-radius: 24px;
}

.checkbox-wrapper-26 * {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

.checkbox-wrapper-26 input[type=checkbox] {
  display: none;
}

.checkbox-wrapper-26 label {
  --size: 36px;
  --shadow: calc(var(--size) * .07) calc(var(--size) * .1);
  position: relative;
  display: block;
  width: var(--size);
  height: var(--size);
  margin: 0 auto;
  background-color: #FF8607;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s ease transform, 0.2s ease background-color;
  overflow: hidden;
  z-index: 1;
}

.checkbox-wrapper-26 label:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: calc(var(--size) * 0.7);
  height: calc(var(--size) * 0.7);
  margin: 0 auto;
  background-color: #fff;
  transform: translateY(-50%);
  border-radius: 50%;
  transition: 0.2s ease width, 0.2s ease height;
}

.checkbox-wrapper-26 label:hover:before {
  width: calc(var(--size) * 0.55);
  height: calc(var(--size) * 0.55);
}

.checkbox-wrapper-26 label:active {
  transform: scale(0.9);
}

.checkbox-wrapper-26 .tick_mark {
  position: absolute;
  top: -1px;
  right: 0;
  left: calc(var(--size) * -0.05);
  width: calc(var(--size) * 0.6);
  height: calc(var(--size) * 0.6);
  margin: 0 auto;
  margin-left: calc(var(--size) * 0.14);
  transform: rotateZ(-40deg);
}

.checkbox-wrapper-26 .tick_mark:before,
.checkbox-wrapper-26 .tick_mark:after {
  content: "";
  position: absolute;
  background-color: #fff;
  border-radius: 2px;
  opacity: 0;
  transition: 0.2s ease transform, 0.2s ease opacity;
}

.checkbox-wrapper-26 .tick_mark:before {
  left: 0;
  bottom: 0;
  width: calc(var(--size) * 0.1);
  height: calc(var(--size) * 0.3);
  transform: translateY(calc(var(--size) * -0.68));
}

.checkbox-wrapper-26 .tick_mark:after {
  left: 0;
  bottom: 0;
  width: 100%;
  height: calc(var(--size) * 0.1);
  transform: translateX(calc(var(--size) * 0.78));
}

.checkbox-wrapper-26 input[type=checkbox]:checked + label {
  background-color: #07d410;
}

.checkbox-wrapper-26 input[type=checkbox]:checked + label:before {
  width: 0;
  height: 0;
}

.checkbox-wrapper-26 input[type=checkbox]:checked + label .tick_mark:before,
.checkbox-wrapper-26 input[type=checkbox]:checked + label .tick_mark:after {
  transform: translate(0);
  opacity: 1;
}

.lgsngos {
  width: 30%;
  height: 80px;
  background-color: #FFFFFF;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "lg1 lg2 lg3";
}
.lgsngos .lg1 {
  grid-area: lg1;
  justify-self: center;
  align-self: center;
}
.lgsngos .lg2 {
  grid-area: lg2;
  justify-self: center;
  align-self: center;
}
.lgsngos .lg3 {
  grid-area: lg3;
  justify-self: center;
  align-self: center;
}

*,
html,
body {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #A3D323;
  padding: 16px;
  margin: 0;
}
body .wrapper {
  width: 100%;
  height: 100%;
  border: 4px solid #FFFFFF;
  padding: 16px;
}

/*# sourceMappingURL=main.css.map */
