@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Raleway", sans-serif;
  font-size: 1em;
}

.lyt_card {
  margin: 0 auto;
  width: 800px;
  height: auto;
  background-color: #A3D323;
  padding: 13.55px 17.21px 10.95px 10.95px;
}
.lyt_card .card {
  width: 100%;
  border: 5px solid #FFFFFF;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 144.83px 222.51px auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  height: 469.05px;
  padding: 0 2.6px 0 1.56px;
  grid-template-areas: "header header header" "cnt_1 cnt_2 cnt_3" "sec_cupon sec_ngos sec_date";
}
.lyt_card .card .header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "sec_title sec_cui";
  grid-area: header;
}
.lyt_card .card .header .sec_title {
  grid-area: sec_title;
  padding-bottom: 30px;
}
.lyt_card .card .header .sec_title .gr_title {
  position: relative;
  width: max-content;
  height: max-content;
  padding: 6px 4px 0;
}
.lyt_card .card .header .sec_title .gr_title .title {
  color: #FFFFFF;
  text-shadow: 3.64px 4.22px 0 rgba(0, 0, 0, 0.3);
  font-weight: 900;
  font-size: 5em;
  letter-spacing: 4.5px;
}
.lyt_card .card .header .sec_title .gr_title .subtitle {
  position: absolute;
  bottom: -20px;
  right: 28px;
  width: max-content;
  font-size: 1.4em;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 0px 12px;
  background-color: #FF8607;
  border-radius: 10px;
  letter-spacing: 0.1em;
  box-shadow: 3.64px 4.22px 0 rgba(0, 0, 0, 0.3);
}
.lyt_card .card .header .sec_cui {
  align-self: end;
  padding-bottom: 10px;
  grid-area: sec_cui;
}
.lyt_card .card .header .sec_cui .gr_cui {
  width: 100%;
  height: max-content;
  padding: 8px;
  margin: 0 auto;
}
.lyt_card .card .header .sec_cui .gr_cui .title {
  font-size: 1.35em;
  font-weight: 600;
  color: #000000;
  padding-left: 6px;
}
.lyt_card .card .header .sec_cui .gr_cui .cont_input {
  width: 100%;
  max-width: 364px;
  height: 43.43px;
  font-size: 1.2em;
  font-weight: 500;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 4px 21px;
  background-color: #FFFFFF;
  border-radius: 11px;
}
.lyt_card .card .header .sec_cui .gr_cui .cont_input input[type=text] {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 1.2em;
}
.lyt_card .card .header .sec_cui .gr_cui .cont_input input[type=text]:focus {
  outline: none;
}
.lyt_card .card .header .sec_cui .gr_cui .cont_input:focus-within {
  border: 4px solid #FF8607;
}
.lyt_card .card .cnt_1 {
  background-color: #00B3D4;
  border: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 222.51px;
  gap: 19.24px 0px;
  grid-auto-flow: row;
  grid-template-areas: "cnt1_hd" "cnt1_1";
  grid-area: cnt_1;
}
.lyt_card .card .cnt_1 .cnt1_hd {
  grid-area: cnt1_hd;
  padding: 7.76px 16px 0;
}
.lyt_card .card .cnt_1 .cnt1_hd .cont_check {
  display: grid;
  grid-template-columns: auto 54.34px;
  grid-template-rows: 38.13px;
  gap: 0px 8px;
  background-color: #A3D323;
  border-radius: 16.22px;
  width: 100%;
  padding-left: 18px;
  margin: 0 auto;
  box-shadow: 3.64px 4.22px 0 rgba(0, 0, 0, 0.3);
  grid-template-areas: "lbl cta";
}
.lyt_card .card .cnt_1 .cnt1_hd .cont_check .cta {
  grid-area: cta;
  background-image: url('data:image/svg+xml,<svg width="55" height="39" viewBox="0 0 55 39" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="0.57605" y="0.496368" width="54.3414" height="38.1752" rx="16.218" fill="white"/></svg>');
}
.lyt_card .card .cnt_1 .cnt1_hd .cont_check .cta .rd_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.lyt_card .card .cnt_1 .cnt1_hd .cont_check .lbl {
  justify-self: start;
  align-self: center;
  grid-area: lbl;
  font-size: 1.3em;
  font-weight: 700;
}
.lyt_card .card .cnt_1 .cnt1_1 {
  grid-area: cnt1_1;
  padding: 0 16px;
}
.lyt_card .card .cnt_1 .cnt1_1 .cont_check {
  display: grid;
  grid-template-columns: 54.34px auto;
  grid-template-rows: 38.13px;
  gap: 0px 8px;
  width: 100%;
  padding-right: 18px;
  margin: 0 auto;
  grid-template-areas: "cta lbl ";
}
.lyt_card .card .cnt_1 .cnt1_1 .cont_check .cta {
  grid-area: cta;
  background-image: url('data:image/svg+xml,<svg width="55" height="39" viewBox="0 0 55 39" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="0.57605" y="0.496368" width="54.3414" height="38.1752" rx="16.218" fill="white"/></svg>');
}
.lyt_card .card .cnt_1 .cnt1_1 .cont_check .cta .rd_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.lyt_card .card .cnt_1 .cnt1_1 .cont_check .lbl {
  justify-self: start;
  align-self: center;
  grid-area: lbl;
  font-size: 1.3em;
  font-weight: 700;
}
@media screen and (max-width: 783px) {
  .lyt_card .card .cnt_1 .cnt1_1 .cont_check .lbl {
    font-size: 1.2em;
    font-weight: 400;
  }
}
.lyt_card .card .cnt_2 {
  background-color: #00B3D4;
  border: none;
  border-left: 4px dotted #FFFFFF;
  border-right: 4px dotted #FFFFFF;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 222.51px;
  gap: 19.24px 0px;
  grid-auto-flow: row;
  grid-template-areas: "cnt2_hd" "cnt2_1";
  grid-area: cnt_2;
}
.lyt_card .card .cnt_2 .cnt2_hd {
  grid-area: cnt2_hd;
  padding: 7.76px 16px 0;
}
.lyt_card .card .cnt_2 .cnt2_hd .cont_check {
  display: grid;
  grid-template-columns: auto 54.34px;
  grid-template-rows: 38.13px;
  gap: 0px 8px;
  background-color: #A3D323;
  border-radius: 16.22px;
  width: 100%;
  padding-left: 18px;
  margin: 0 auto;
  box-shadow: 3.64px 4.22px 0 rgba(0, 0, 0, 0.3);
  grid-template-areas: "lbl cta";
}
.lyt_card .card .cnt_2 .cnt2_hd .cont_check .cta {
  grid-area: cta;
  background-image: url('data:image/svg+xml,<svg width="55" height="39" viewBox="0 0 55 39" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="0.57605" y="0.496368" width="54.3414" height="38.1752" rx="16.218" fill="white"/></svg>');
}
.lyt_card .card .cnt_2 .cnt2_hd .cont_check .cta .rd_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.lyt_card .card .cnt_2 .cnt2_hd .cont_check .lbl {
  justify-self: start;
  align-self: center;
  grid-area: lbl;
  font-size: 1.3em;
  font-weight: 700;
}
.lyt_card .card .cnt_2 .cnt2_1 {
  grid-area: cnt2_1;
  padding: 0 16px;
}
.lyt_card .card .cnt_2 .cnt2_1 .cont_check {
  display: grid;
  grid-template-columns: 54.34px auto;
  grid-template-rows: 38.13px;
  gap: 0px 8px;
  width: 100%;
  padding-right: 18px;
  margin: 0 auto;
  grid-template-areas: "cta lbl ";
}
.lyt_card .card .cnt_2 .cnt2_1 .cont_check .cta {
  grid-area: cta;
  background-image: url('data:image/svg+xml,<svg width="55" height="39" viewBox="0 0 55 39" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="0.57605" y="0.496368" width="54.3414" height="38.1752" rx="16.218" fill="white"/></svg>');
}
.lyt_card .card .cnt_2 .cnt2_1 .cont_check .cta .rd_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.lyt_card .card .cnt_2 .cnt2_1 .cont_check .lbl {
  justify-self: start;
  align-self: center;
  grid-area: lbl;
  font-size: 1.3em;
  font-weight: 700;
}
@media screen and (max-width: 783px) {
  .lyt_card .card .cnt_2 .cnt2_1 .cont_check .lbl {
    font-size: 1.2em;
    font-weight: 400;
  }
}
.lyt_card .card .cnt_3 {
  background-color: #00B3D4;
  border: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 222.51px;
  gap: 19.24px 0px;
  grid-auto-flow: row;
  grid-template-areas: "cnt3_hd" "cnt3_1";
  grid-area: cnt_3;
}
.lyt_card .card .cnt_3 .cnt3_hd {
  grid-area: cnt3_hd;
  padding: 7.76px 16px 0;
}
.lyt_card .card .cnt_3 .cnt3_hd .cont_check {
  display: grid;
  grid-template-columns: auto 54.34px;
  grid-template-rows: 38.13px;
  gap: 0px 8px;
  background-color: #A3D323;
  border-radius: 16.22px;
  width: 100%;
  padding-left: 18px;
  margin: 0 auto;
  box-shadow: 3.64px 4.22px 0 rgba(0, 0, 0, 0.3);
  grid-template-areas: "lbl cta";
}
.lyt_card .card .cnt_3 .cnt3_hd .cont_check .cta {
  grid-area: cta;
  background-image: url('data:image/svg+xml,<svg width="55" height="39" viewBox="0 0 55 39" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="0.57605" y="0.496368" width="54.3414" height="38.1752" rx="16.218" fill="white"/></svg>');
}
.lyt_card .card .cnt_3 .cnt3_hd .cont_check .cta .rd_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.lyt_card .card .cnt_3 .cnt3_hd .cont_check .lbl {
  justify-self: start;
  align-self: center;
  grid-area: lbl;
  font-size: 1.3em;
  font-weight: 700;
}
.lyt_card .card .cnt_3 .cnt3_1 {
  grid-area: cnt3_1;
  padding: 0 16px;
}
.lyt_card .card .cnt_3 .cnt3_1 .cont_check {
  display: grid;
  grid-template-columns: 54.34px auto;
  grid-template-rows: 38.13px;
  gap: 0px 8px;
  width: 100%;
  padding-right: 18px;
  margin: 0 auto;
  grid-template-areas: "cta lbl ";
}
.lyt_card .card .cnt_3 .cnt3_1 .cont_check .cta {
  grid-area: cta;
  background-image: url('data:image/svg+xml,<svg width="55" height="39" viewBox="0 0 55 39" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="0.57605" y="0.496368" width="54.3414" height="38.1752" rx="16.218" fill="white"/></svg>');
}
.lyt_card .card .cnt_3 .cnt3_1 .cont_check .cta .rd_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.lyt_card .card .cnt_3 .cnt3_1 .cont_check .lbl {
  justify-self: start;
  align-self: center;
  grid-area: lbl;
  font-size: 1.3em;
  font-weight: 700;
}
@media screen and (max-width: 783px) {
  .lyt_card .card .cnt_3 .cnt3_1 .cont_check .lbl {
    font-size: 1.2em;
    font-weight: 400;
  }
}
.lyt_card .card .sec_cupon {
  align-self: flex-end;
  padding-top: 0px;
  justify-self: stretch;
  grid-area: sec_cupon;
}
.lyt_card .card .sec_cupon .gr_cupon {
  width: 90%;
  height: max-content;
  padding: 9.33px 50px 3.61px 8px;
}
.lyt_card .card .sec_cupon .gr_cupon .title {
  width: 100%;
  text-align: center;
  color: #000000;
  font-weight: 500;
  font-size: 0.75em;
  line-height: 2em;
  letter-spacing: -0.01em;
  font-weight: 600;
}
.lyt_card .card .sec_cupon .gr_cupon .cont_input {
  width: 100%;
  max-width: 291px;
  height: 43.43px;
  font-size: 1.2em;
  font-weight: 500;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 4px 21px;
  background-color: #FFFFFF;
  border-radius: 11px;
}
.lyt_card .card .sec_cupon .gr_cupon .cont_input input[type=text] {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 1.2em;
}
.lyt_card .card .sec_cupon .gr_cupon .cont_input input[type=text]:focus {
  outline: none;
}
.lyt_card .card .sec_cupon .gr_cupon .cont_input:focus-within {
  border: 4px solid #FF8607;
}
.lyt_card .card .sec_ngos {
  align-self: center;
  grid-area: sec_ngos;
}
.lyt_card .card .sec_date {
  align-self: flex-end;
  padding-top: 0px;
  justify-self: stretch;
  grid-area: sec_date;
}
.lyt_card .card .sec_date .gr_date {
  width: 90%;
  height: max-content;
  padding: 9.33px 50px 3.61px 8px;
}
.lyt_card .card .sec_date .gr_date .title {
  width: 100%;
  text-align: center;
  color: #000000;
  font-weight: 500;
  font-size: 0.75em;
  line-height: 2em;
  letter-spacing: -0.01em;
  font-weight: 600;
}
@media only screen and (max-width: 808px) {
  .lyt_card .card .sec_date .gr_date .title {
    font-size: 0.7em;
  }
}
.lyt_card .card .sec_date .gr_date .cont_input {
  width: 100%;
  max-width: 291px;
  height: 43.43px;
  font-size: 1.2em;
  font-weight: 500;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 4px 21px;
  background-color: #FFFFFF;
  border-radius: 11px;
}
.lyt_card .card .sec_date .gr_date .cont_input input[type=text] {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 1.2em;
}
.lyt_card .card .sec_date .gr_date .cont_input input[type=text]:focus {
  outline: none;
}
.lyt_card .card .sec_date .gr_date .cont_input:focus-within {
  border: 4px solid #FF8607;
}

.checkbox-wrapper-26 * {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

.checkbox-wrapper-26 input[type=checkbox] {
  display: none;
}

.checkbox-wrapper-26 label {
  --size: 38.13px;
  --shadow: calc(var(--size) * .07) calc(var(--size) * .1);
  position: relative;
  display: block;
  width: var(--size);
  height: var(--size);
  margin: 0 auto;
  background-color: #f8f7f7;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s ease transform, 0.2s ease background-color;
  overflow: hidden;
  z-index: 1;
}

.checkbox-wrapper-26 label:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: calc(var(--size) * 0.8);
  height: calc(var(--size) * 0.8);
  margin: 0 auto;
  background-color: #fff;
  transform: translateY(-50%);
  border-radius: 50%;
  transition: 0.2s ease width, 0.2s ease height;
}

.checkbox-wrapper-26 label:active {
  transform: scale(0.9);
}

.checkbox-wrapper-26 .tick_mark {
  position: absolute;
  top: -1px;
  right: 0;
  left: calc(var(--size) * -0.05);
  width: calc(var(--size) * 0.6);
  height: calc(var(--size) * 0.6);
  margin: 0 auto;
  margin-left: calc(var(--size) * 0.14);
  transform: rotateZ(-40deg);
}

.checkbox-wrapper-26 .tick_mark:before,
.checkbox-wrapper-26 .tick_mark:after {
  content: "";
  position: absolute;
  background-color: #fff;
  border-radius: 2px;
  opacity: 0;
  transition: 0.2s ease transform, 0.2s ease opacity;
}

.checkbox-wrapper-26 .tick_mark:before {
  left: 0;
  bottom: 0;
  width: calc(var(--size) * 0.1);
  height: calc(var(--size) * 0.3);
  transform: translateY(calc(var(--size) * -0.68));
}

.checkbox-wrapper-26 .tick_mark:after {
  left: 0;
  bottom: 0;
  width: 100%;
  height: calc(var(--size) * 0.1);
  transform: translateX(calc(var(--size) * 0.78));
}

.checkbox-wrapper-26 input[type=checkbox]:checked + label {
  background-image: url('data:image/svg+xml,<svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.7468 37.6715C13.8286 37.6715 9.11185 35.7178 5.63418 32.2401C2.1565 28.7624 0.202759 24.0457 0.202759 19.1275C0.202759 14.2093 2.1565 9.49258 5.63418 6.0149C9.11186 2.53722 13.8286 0.583481 18.7468 0.583481L18.7468 19.1275L18.7468 37.6715Z" fill="%2300DE00"/><path d="M18.7468 0.583481C23.665 0.583481 28.3817 2.53722 31.8594 6.0149C35.3371 9.49258 37.2908 14.2093 37.2908 19.1275C37.2908 24.0457 35.3371 28.7624 31.8594 32.2401C28.3817 35.7178 23.665 37.6715 18.7468 37.6715L18.7468 19.1275L18.7468 0.583481Z" fill="%2300BB00"/></svg>');
}

.checkbox-wrapper-26 input[type=checkbox]:checked + label:before {
  width: 0;
  height: 0;
}

.checkbox-wrapper-26 input[type=checkbox]:checked + label .tick_mark:before,
.checkbox-wrapper-26 input[type=checkbox]:checked + label .tick_mark:after {
  transform: translate(0);
  opacity: 1;
}

.lgsngos {
  margin: -65 auto;
  width: max-content;
  height: auto;
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 2px;
  grid-auto-flow: row;
  padding: 8px;
  grid-template-areas: "lg1 lg2 lg3";
}
.lgsngos .lg1 {
  grid-area: lg1;
  justify-self: center;
  align-self: center;
  padding-bottom: 8px;
}
.lgsngos .lg1 img {
  width: auto;
  height: 45px;
}
.lgsngos .lg2 {
  grid-area: lg2;
  justify-self: center;
  align-self: center;
  padding-bottom: 8px;
}
.lgsngos .lg2 img {
  width: auto;
  height: 45px;
}
.lgsngos .lg3 {
  grid-area: lg3;
  justify-self: center;
  align-self: center;
  padding-bottom: 8px;
}
.lgsngos .lg3 img {
  width: auto;
  height: 45px;
}

*,
html,
body {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: #FFFFFF;
}
body .wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  max-width: 800px;
  max-height: 492.51px;
}

/*# sourceMappingURL=main.css.map */
