@import "abstracts/_var.scss";
@import "abstracts/mixins";
@import "abstracts/_typography.scss";
@import "abstracts/images";

@import "components/grid.scss";

*,
html,
body {
  box-sizing: border-box;
}

html,
body {
  height: auto;
  overflow: auto;
}

body {
  background-color: white;
  padding: 0;
  margin: 0;

  .wrapper {
    position: relative;
    width: 800px;
    height: 800px;
    margin: 0 auto;
    padding: 16px;
  }
}
