  @import 'abstracts/_var.scss',
  'abstracts/_typography.scss';

  @import 'components/grid.scss',
  'components/radio_check.scss',
  'components/logos_cont.scss';

  *,
  html,
  body {
    box-sizing: border-box;
  }

  html,
  body {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  body {
    background-color: $clr3;
    padding: 16px;
    margin: 0;

    .wrapper {
      width: 100%;
      height: 100%;
      border: 4px solid $clr2;
      padding: 16px;
    }
  }