.grdTb6-1 {
    display: grid;
    grid-template-columns: 1fr repeat(4, 120px);
    grid-template-rows: repeat(8, 48px);
    gap: 0px 0px;
    grid-auto-flow: row;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    width: 95%;
    grid-template-areas:
        "title t1 t2 t3 tt"
        "l1 l1c2 l1c3 l1c4 total1"
        "l2 l2c2 l2c3 l2c4 total2"
        "l3 l3c2 l3c3 l3c4 total3"
        "l4 l4c2 l4c3 l4c4 total4"
        "l5 l5c2 l5c3 l5c4 total5"
        "l6 l6c2 l6c3 l6c4 total6"
        "l7 l7c2 l7c3 l7c4 total7";

    .title {
        grid-area: title;
        color: $clr_ps;
        background-color: $clr_s;
        border-left: 1px solid $clr_brdr;
        border-top: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        padding: 8px;
    }

    .t1 {
        grid-area: t1;
        color: $clr_ps;
        background-color: $clr_s;
        border-left: 1px solid $clr_brdr;
        border-top: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
    }

    .t2 {
        grid-area: t2;
        color: $clr_ps;
        background-color: $clr_s;
        border-left: 1px solid $clr_brdr;
        border-top: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
    }

    .t3 {
        grid-area: t3;
        color: $clr_ps;
        background-color: $clr_s;
        border-left: 1px solid $clr_brdr;
        border-top: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
    }

    .tt {
        grid-area: tt;
        color: $clr_ps;
        background-color: $clr_s;
        border-left: 1px solid $clr_brdr;
        border-top: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
    }

    .l1 {
        grid-area: l1;
        color: $clr_p;
        background-color: $clr_ss;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        padding: 8px;
    }

    .l2 {
        grid-area: l2;
        color: $clr_p;
        background-color: $clr_ss;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        padding: 8px;
    }

    .l3 {
        grid-area: l3;
        color: $clr_p;
        background-color: $clr_ss;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        padding: 8px;
    }

    .l4 {
        grid-area: l4;
        color: $clr_p;
        background-color: $clr_ss;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        padding: 8px;
    }

    .l5 {
        grid-area: l5;
        color: $clr_p;
        background-color: $clr_ss;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        padding: 8px;
    }

    .l6 {
        grid-area: l6;
        color: $clr_p;
        background-color: $clr_ss;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        padding: 8px;
    }

    .l7 {
        grid-area: l7;
        color: $clr_p;
        background-color: $clr_ss;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        padding: 8px;
    }

    .l1c2 {
        grid-area: l1c2;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }

    .l1c3 {
        grid-area: l1c3;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
        }
    }

    .l1c4 {
        grid-area: l1c4;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
        }
    }

    .total1 {
        grid-area: total1;
        border-left: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
        }
    }

    .l2c2 {
        grid-area: l2c2;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
        }
    }

    .l2c3 {
        grid-area: l2c3;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
        }
    }

    .l2c4 {
        grid-area: l2c4;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
        }
    }

    .total2 {
        grid-area: total2;
        border-left: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
        }
    }

    .l3c2 {
        grid-area: l3c2;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
        }
    }

    .l3c3 {
        grid-area: l3c3;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
        }
    }

    .l3c4 {
        grid-area: l3c4;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
        }
    }

    .total3 {
        grid-area: total3;
        border-left: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
        }
    }

    .l4c2 {
        grid-area: l4c2;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
        }
    }

    .l4c3 {
        grid-area: l4c3;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
        }
    }

    .l4c4 {
        grid-area: l4c4;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
        }
    }

    .total4 {
        grid-area: total4;
        border-left: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
        }
    }

    .l5c2 {
        grid-area: l5c2;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
        }
    }

    .l5c3 {
        grid-area: l5c3;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
        }
    }

    .l5c4 {
        grid-area: l5c4;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
        }
    }

    .total5 {
        grid-area: total5;
        border-left: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
        }
    }

    .l6c2 {
        grid-area: l6c2;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
        }
    }

    .l6c3 {
        grid-area: l6c3;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
        }
    }

    .l6c4 {
        grid-area: l6c4;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
        }
    }

    .total6 {
        grid-area: total6;
        border-left: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
        }
    }

    .l7c2 {
        grid-area: l7c2;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
        }
    }

    .l7c3 {
        grid-area: l7c3;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
        }
    }

    .l7c4 {
        grid-area: l7c4;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
        }
    }

    .total7 {
        grid-area: total7;
        border-left: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
        }
    }
}