.grdTb1-yn {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: 48px 48px;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    font-family: 'Roboto', sans-serif;
    width: 95%;
    margin-bottom: 20px;
    grid-template-areas:
        "t1 t1"
        "l1 ans";

    .t1 {
        grid-area: t1;
        color: $clr_ps;
        background-color: $clr_s;
        border-left: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        border-top: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        padding: 8px;
    }

    .l1 {
        grid-area: l1;
        color: $clr_p;
        background-color: $clr_ss;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
    }

    .ans {
        grid-area: ans;
        border-left: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        flex-direction: row;
    }
}

.grdTb1-1 {
    display: grid;
    grid-template-columns: 1fr repeat(2, 120px);
    grid-template-rows: repeat(6, 48px);
    gap: 0px 0px;
    grid-auto-flow: row;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    width: 95%;
    padding-bottom: 20px;
    grid-template-areas:
        "title t1 t2"
        "l1 l1c2 l1c3"
        "l2 l2c2 l2c3"
        "l3 l3c2 l3c3"
        "l4 l4c2 l4c3"
        "l5 l5c2 l5c3";

    .title {
        grid-area: title;
        color: $clr_ps;
        background-color: $clr_s;
        border-left: 1px solid $clr_brdr;
        border-top: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        padding: 8px;
    }

    .t1 {
        grid-area: t1;
        color: $clr_ps;
        background-color: $clr_s;
        border-left: 1px solid $clr_brdr;
        border-top: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
    }

    .t2 {
        grid-area: t2;
        color: $clr_ps;
        background-color: $clr_s;
        border-left: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        border-top: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
    }

    .l1 {
        grid-area: l1;
        color: $clr_p;
        background-color: $clr_ss;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        padding: 8px;
    }

    .l2 {
        grid-area: l2;
        color: $clr_p;
        background-color: $clr_ss;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        padding: 8px;
    }

    .l3 {
        grid-area: l3;
        color: $clr_p;
        background-color: $clr_ss;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        padding: 8px;
    }

    .l4 {
        grid-area: l4;
        color: $clr_p;
        background-color: $clr_ss;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        padding: 8px;
    }

    .l1c2 {
        grid-area: l1c2;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }

    .l1c3 {
        grid-area: l1c3;
        border-left: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
        }
    }

    .l2c2 {
        grid-area: l2c2;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
        }
    }

    .l2c3 {
        grid-area: l2c3;
        border-left: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
        }
    }

    .l3c2 {
        grid-area: l3c2;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
        }
    }

    .l3c3 {
        grid-area: l3c3;
        border-left: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
        }
    }

    .l4c2 {
        grid-area: l4c2;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
        }
    }

    .l4c3 {
        grid-area: l4c3;
        border-left: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
        }
    }

    .l5c2 {
        grid-area: l5c2;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
        }
    }

    .l5c3 {
        grid-area: l5c3;
        border-left: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
        }
    }
}