.grdTb5-1 {
    display: grid;
    grid-template-columns: 1fr 120px;
    grid-template-rows: repeat(2, 48px);
    gap: 0px 0px;
    grid-auto-flow: row;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    width: 95%;
    padding-bottom: 20px;
    grid-template-areas:
        "title t1"
        "l1 l1c2";

    .title {
        grid-area: title;
        color: $clr_ps;
        background-color: $clr_s;
        border-left: 1px solid $clr_brdr;
        border-top: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        padding: 8px;
    }

    .t1 {
        grid-area: t1;
        color: $clr_ps;
        background-color: $clr_s;
        border-left: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        border-top: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
    }

    .l1 {
        grid-area: l1;
        color: $clr_p;
        background-color: $clr_ss;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        padding: 8px;
    }

    .l1c2 {
        grid-area: l1c2;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }
}