// Tab2

.grdTb2-1a {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: 48px 48px;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    font-family: 'Roboto', sans-serif;
    grid-template-areas:
        "t1 t1"
        "l1 ans";

    .t1 {
        grid-area: t1;
        color: $clr_ps;
        background-color: $clr_s;
        border-left: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        border-top: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        padding: 8px;
    }

    .l1 {
        grid-area: l1;
        color: $clr_p;
        background-color: $clr_ss;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
    }

    .ans {
        grid-area: ans;
        border-left: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        flex-direction: row;
    }
}

.grdTb2-a1 {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: 48px;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    font-family: 'Roboto', sans-serif;
    display: none;
    grid-template-areas:
        "l1 ans";

    .l1 {
        grid-area: l1;
        color: $clr_p;
        background-color: $clr_ss;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center
    }

    .ans {
        grid-area: ans;
        border-left: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        flex-direction: row;
    }
}

.grdTb2-a1s {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: 48px;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    font-family: 'Roboto', sans-serif;
    display: none;
    grid-template-areas:
        "l1 ans";

    .l1 {
        grid-area: l1;
        color: $clr_p;
        background-color: $clr_ss;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
    }

    .ans {
        grid-area: ans;
        border-left: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        flex-direction: row;
    }
}

.grdTb2-a2 {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: repeat(2, 48px);
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    font-family: 'Roboto', sans-serif;
    display: none;
    grid-template-areas:
        "l1 ans1"
        "l1 ans2";

    .l1 {
        grid-area: l1;
        color: $clr_p;
        background-color: $clr_ss;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
    }

    .ans1 {
        grid-area: ans1;
        border-left: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        flex-direction: row;
    }

    .ans2 {
        grid-area: ans2;
        border-left: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        flex-direction: row;
    }
}

.grdTb2-a4 {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: repeat(4, 48px);
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    font-family: 'Roboto', sans-serif;
    display: none;
    grid-template-areas:
        "l1 ansa"
        "l1 ansb"
        "l1 ansc"
        "l1 ansd";

    .l1 {
        grid-area: l1;
        color: $clr_p;
        background-color: $clr_ss;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
    }

    .ansa {
        grid-area: ansa;
        border-left: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        flex-direction: row;
    }

    .ansb {
        grid-area: ansb;
        border-left: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        flex-direction: row;
    }

    .ansc {
        grid-area: ansc;
        border-left: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        flex-direction: row;
    }

    .ansd {
        grid-area: ansd;
        border-left: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        flex-direction: row;
    }
}

.lv0 {
    padding: 8px;
}

.lv1 {
    padding: 8px 8px 8px 20px;
}

.lv2 {
    padding: 8px 8px 8px 40px;
}

.lv3 {
    padding: 8px 8px 8px 60px;
}