.grdTb3-yn {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: 48px 48px;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    font-family: 'Roboto', sans-serif;
    width: 95%;
    margin-bottom: 20px;
    grid-template-areas:
        "t1 t1"
        "l1 ans";

    .t1 {
        grid-area: t1;
        color: $clr_ps;
        background-color: $clr_s;
        border-left: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        border-top: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        padding: 8px;
    }

    .l1 {
        grid-area: l1;
        color: $clr_p;
        background-color: $clr_ss;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        padding: 8px;
    }

    .ans {
        grid-area: ans;
        border-left: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        flex-direction: row;
    }
}