.custom_tab {
    border-top: none;
    border-right: none;
    border-bottom: 1px solid $momentum_clr11;
    border-left: none;
    border-radius: 0;
    background: transparent;
    color: $momentum_clr12;
    font-weight: bold;

    .ui-state-default {
        border: 1px solid $momentum_clr11;
        background: $clr4;
        font-weight: bold;
        color: $momentum_clr12;
    }

    .ui-state-active {
        border: 1px solid $momentum_clr11;
        background-color: $tb1_clr1;
        font-weight: bold;
        color: $momentum_clr12;
    }

    a.ui-button {
        &:active {
            border: 1px solid $momentum_clr11;
            background-color: $tb1_clr1;
            font-weight: bold;
            color: $momentum_clr12;
        }
    }

    .ui-state-active a,
    .ui-state-active a:link,
    .ui-state-active a:visited {
        color: $momentum_clr12 !important;
    }

    .ui-state-default a,
    .ui-state-default a:link,
    a.ui-button,
    a:link.ui-button,
    .ui-button {
        color: $momentum_clr11;
    }

}

.content_tabs {
    width: 98%;
    min-height: 300px;
    overflow-y: auto;

    input[type="radio"] {
        margin: 10px 0 0 10px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid #ccc;
        margin-right: 10px;
        display: inline-block;
        position: relative;
        top: 3px;

        &:checked {
            background-color: $clr_s;
            border-color: $clr_s;
        }
    }

    label {
        display: flex;
        align-items: center;
        font-size: 16px;
    }
}