.lyt_card {
    margin: 0 auto;
    width: 800px;
    height: auto;
    background-color: $clr3;
    padding: 13.55px 17.21px 10.95px 10.95px;

    .card {
        background-color: $clr3;

        @include brk320 {
            width: 100%;
            display: inline-block;
            height: max-content;
            border: 5px solid $clr2;
            padding: 4px;
        }

        @include brk711 {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 144.83px 222.51px 80px;
            gap: 0px 0px;
            grid-auto-flow: row;
            height: 480px;
            padding: 0 2.6px 0 1.56px;
            ;
            grid-template-areas:
                "header header header"
                "cnt_1 cnt_2 cnt_3"
                "sec_cupon sec_ngos sec_date";
        }

        .header {

            @include brk320 {
                display: inline-block;
                width: 100%;
                padding-bottom: 20px;
            }

            @include brk711 {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr;
                gap: 0px 0px;
                grid-auto-flow: row;
                grid-template-areas:
                    "sec_title sec_cui";
                grid-area: header;
            }

            .sec_title {
                grid-area: sec_title;

                @include brk710 {
                    padding-bottom: 30px;
                }

                .gr_title {
                    position: relative;
                    width: max-content;
                    height: max-content;
                    padding: 6px 4px 0;

                    .title {
                        color: $clr2;
                        text-shadow: 3.64px 4.22px 0 rgba(0, 0, 0, 0.3);
                        font-weight: 900;
                        font-size: 5em;
                        letter-spacing: 4.5px;
                        //font-stretch: ultra-condensed
                    }

                    .subtitle {
                        position: absolute;
                        bottom: -20px;
                        right: 28px;
                        width: max-content;
                        font-size: 1.4em;
                        font-weight: 700;
                        font-style: italic;
                        text-transform: uppercase;
                        color: $clr2;
                        padding: 0px 12px;
                        background-color: $clr5;
                        border-radius: 10px; //ok
                        letter-spacing: 0.1em;
                        box-shadow: 3.64px 4.22px 0 rgba(0, 0, 0, 0.3);
                    }
                }
            }

            .sec_cui {
                align-self: end;
                padding-bottom: 10px;
                grid-area: sec_cui;

                .gr_cui {
                    width: 100%;
                    height: max-content;
                    padding: 8px;
                    margin: 0 auto;

                    .title {
                        font-size: 1.35em;
                        font-weight: 600;
                        color: $clr1;
                        padding-left: 6px;
                    }

                    .cont_input {
                        width: 100%;
                        max-width: 364px;
                        height: 43.43px;
                        font-size: 1.2em;
                        font-weight: 500;
                        text-transform: uppercase;
                        color: $clr2;
                        padding: 4px 21px;
                        background-color: $clr2;
                        border-radius: 11px; //ok

                        input[type="text"] {
                            width: 100%;
                            height: 100%;
                            border: none;
                            font-size: 1.2em;

                            &:focus {
                                outline: none;
                            }
                        }

                        &:focus-within {
                            border: 4px solid $clr5;
                        }
                    }
                }
            }
        }

        .cnt_1 {

            @include brk320 {
                border: none;
                border-top: 4px dotted $clr2;
                border-bottom: 4px dotted $clr2;
                background-color: $clr6;
            }

            @include brk711 {
                border: none;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto 222.51px;
                gap: 19.24px 0px;
                grid-auto-flow: row;
                grid-template-areas:
                    "cnt1_hd"
                    "cnt1_1";
                grid-area: cnt_1;
            }

            .cnt1_hd {
                grid-area: cnt1_hd;
                padding: 7.76px 16px 0;

                .cont_check {
                    display: grid;
                    grid-template-columns: auto 54.34px;
                    grid-template-rows: 38.13px;
                    gap: 0px 8px;
                    background-color: $clr3;
                    border-radius: 16.22px;
                    width: 100%;
                    padding-left: 18px;
                    margin: 0 auto;
                    box-shadow: 3.64px 4.22px 0 rgba(0, 0, 0, 0.3);
                    grid-template-areas:
                        "lbl cta";

                    .cta {
                        grid-area: cta;
                        background-image: url('data:image/svg+xml,<svg width="55" height="39" viewBox="0 0 55 39" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="0.57605" y="0.496368" width="54.3414" height="38.1752" rx="16.218" fill="white"/></svg>');

                        .rd_btn {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 100%;
                        }
                    }

                    .lbl {
                        justify-self: start;
                        align-self: center;
                        grid-area: lbl;
                        font-size: 1.3em;
                        font-weight: 700;
                    }

                }
            }

            .cnt1_1 {
                grid-area: cnt1_1;
                padding: 0 16px;

                .cont_check {
                    display: grid;
                    grid-template-columns: 36px auto;
                    grid-template-rows: 36px;
                    gap: 0px 8px;
                    width: 100%;
                    padding-right: 18px;
                    margin: 0 auto;
                    grid-template-areas:
                        "cta lbl ";

                    .cta {
                        justify-self: center;
                        align-self: center;
                        grid-area: cta;
                        background-color: $clr2;
                        box-shadow: 3.64px 4.22px 0 rgba(0, 0, 0, 0.3);
                        border-radius: 50px;
                    }

                    .lbl {
                        justify-self: start;
                        align-self: center;
                        grid-area: lbl;
                        font-size: 1.3em;
                        font-weight: 700;
                    }

                    @media screen and (max-width: 783px) {
                        .lbl {
                            font-size: 1.2em;
                            font-weight: 400;
                        }
                    }
                }
            }
        }

        .cnt_2 {
            @include brk320 {
                border: none;
                background-color: $clr6;
            }

            @include brk711 {
                border: none;
                border-left: 4px dotted $clr2;
                border-right: 4px dotted $clr2;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto 222.51px;
                gap: 19.24px 0px;
                grid-auto-flow: row;
                grid-template-areas:
                    "cnt2_hd"
                    "cnt2_1";
                grid-area: cnt_2;
            }

            .cnt2_hd {
                grid-area: cnt2_hd;
                padding: 7.76px 16px 0;

                .cont_check {
                    display: grid;
                    grid-template-columns: auto 54.34px;
                    grid-template-rows: 38.13px;
                    gap: 0px 8px;
                    background-color: $clr3;
                    border-radius: 16.22px;
                    width: 100%;
                    padding-left: 18px;
                    margin: 0 auto;
                    box-shadow: 3.64px 4.22px 0 rgba(0, 0, 0, 0.3);
                    grid-template-areas:
                        "lbl cta";

                    .cta {
                        grid-area: cta;
                        background-image: url('data:image/svg+xml,<svg width="55" height="39" viewBox="0 0 55 39" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="0.57605" y="0.496368" width="54.3414" height="38.1752" rx="16.218" fill="white"/></svg>');

                        .rd_btn {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 100%;
                        }
                    }

                    .lbl {
                        justify-self: start;
                        align-self: center;
                        grid-area: lbl;
                        font-size: 1.3em;
                        font-weight: 700;
                    }
                }
            }

            .cnt2_1 {
                grid-area: cnt2_1;
                padding: 0 16px;

                .cont_check {
                    display: grid;
                    grid-template-columns: 36px auto;
                    grid-template-rows: 36px;
                    gap: 0px 8px;
                    width: 100%;
                    padding-right: 18px;
                    margin: 0 auto;
                    grid-template-areas:
                        "cta lbl ";

                    .cta {
                        justify-self: center;
                        align-self: center;
                        grid-area: cta;
                        background-color: $clr2;
                        box-shadow: 3.64px 4.22px 0 rgba(0, 0, 0, 0.3);
                        border-radius: 50px;
                    }

                    .lbl {
                        justify-self: start;
                        align-self: center;
                        grid-area: lbl;
                        font-size: 1.3em;
                        font-weight: 700;
                    }

                    @media screen and (max-width: 783px) {
                        .lbl {
                            font-size: 1.2em;
                            font-weight: 400;
                        }
                    }
                }
            }
        }

        .cnt_3 {
            @include brk320 {
                border: none;
                border-top: 4px dotted $clr2;
                border-bottom: 4px dotted $clr2;
                background-color: $clr6;
            }

            @include brk711 {
                border: none;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto 222.51px;
                gap: 19.24px 0px;
                grid-auto-flow: row;
                grid-template-areas:
                    "cnt3_hd"
                    "cnt3_1";
                grid-area: cnt_3;
            }

            .cnt3_hd {
                grid-area: cnt3_hd;
                padding: 7.76px 16px 0;

                .cont_check {
                    display: grid;
                    grid-template-columns: auto 54.34px;
                    grid-template-rows: 38.13px;
                    gap: 0px 8px;
                    background-color: $clr3;
                    border-radius: 16.22px;
                    width: 100%;
                    padding-left: 18px;
                    margin: 0 auto;
                    box-shadow: 3.64px 4.22px 0 rgba(0, 0, 0, 0.3);
                    grid-template-areas:
                        "lbl cta";

                    .cta {
                        grid-area: cta;
                        background-image: url('data:image/svg+xml,<svg width="55" height="39" viewBox="0 0 55 39" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="0.57605" y="0.496368" width="54.3414" height="38.1752" rx="16.218" fill="white"/></svg>');

                        .rd_btn {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 100%;
                        }
                    }

                    .lbl {
                        justify-self: start;
                        align-self: center;
                        grid-area: lbl;
                        font-size: 1.3em;
                        font-weight: 700;
                    }
                }
            }

            .cnt3_1 {
                grid-area: cnt3_1;
                padding: 0 16px;

                .cont_check {
                    display: grid;
                    grid-template-columns: 36px auto;
                    grid-template-rows: 36px;
                    gap: 0px 8px;
                    width: 100%;
                    padding-right: 18px;
                    margin: 0 auto;
                    grid-template-areas:
                        "cta lbl ";

                    .cta {
                        justify-self: center;
                        align-self: center;
                        grid-area: cta;
                        background-color: $clr2;
                        box-shadow: 3.64px 4.22px 0 rgba(0, 0, 0, 0.3);
                        border-radius: 50px;
                    }

                    .lbl {
                        justify-self: start;
                        align-self: center;
                        grid-area: lbl;
                        font-size: 1.3em;
                        font-weight: 700;
                    }

                    @media screen and (max-width: 783px) {
                        .lbl {
                            font-size: 1.2em;
                            font-weight: 400;
                        }
                    }
                }
            }
        }

        .sec_cupon {
            align-self: flex-end;
            background-color: red;

            @include brk320 {
                padding-top: 20px;
            }

            @include brk711 {
                padding-top: 0px;
                justify-self: stretch;
                grid-area: sec_cupon;
            }

            .gr_cupon {
                width: 90%;
                height: max-content;
                padding: 0px 50px 0 8px;

                @include brk320 {
                    width: 100%;
                    padding: 0px 8px 0 8px;
                }

                @include brk711 {
                    width: 90%;
                    height: max-content;
                    padding: 0px 50px 0 8px;
                }

                .title {
                    color: $clr1;
                    padding-left: 10px;
                    font-weight: 500;
                    font-size: 0.75em;
                    letter-spacing: -0.01em;
                    font-weight: 700;
                }

                .cont_input {
                    width: 100%;
                    max-width: 291px;
                    height: 36px;
                    font-size: 1.2em;
                    font-weight: 500;
                    text-transform: uppercase;
                    color: $clr2;
                    padding: 4px 21px;
                    background-color: $clr2;
                    border-radius: 10px; //ok

                    @include brk320 {
                        max-width: none;
                    }

                    input[type="text"] {
                        width: 100%;
                        height: 100%;
                        border: none;
                        font-size: 1.2em;

                        &:focus {
                            outline: none;
                        }
                    }

                    &:focus-within {
                        border: 4px solid $clr5;
                    }
                }
            }
        }

        .sec_ngos {
            align-self: center;
            grid-area: sec_ngos;
        }

        .sec_date {
            align-self: flex-end;
            background-color: blue;

            @include brk320 {
                padding-top: 20px;
            }

            @include brk711 {
                padding-top: 0px;
                justify-self: stretch;
                grid-area: sec_date;
            }

            .gr_date {
                width: 90%;
                height: max-content;
                padding: 0px 50px 0 8px;

                @include brk320 {
                    width: 100%;
                    padding: 0px 8px 72px 8px;
                }

                @include brk711 {
                    width: 90%;
                    height: max-content;
                    padding: 0px 50px 0 8px;
                }

                .title {
                    color: $clr1;
                    padding-left: 10px;
                    font-weight: 500;
                    font-size: 0.75em;
                    letter-spacing: -0.01em;
                    font-weight: 700;

                    @include brk808 {
                        font-size: 0.7em;
                    }
                }

                .cont_input {
                    width: 100%;
                    max-width: 291px;
                    height: 36px;
                    font-size: 1.2em;
                    font-weight: 500;
                    text-transform: uppercase;
                    color: $clr2;
                    padding: 4px 21px;
                    background-color: $clr2;
                    border-radius: 10px; //ok

                    @include brk320 {
                        max-width: none;
                    }

                    input[type="text"] {
                        width: 100%;
                        height: 100%;
                        border: none;
                        font-size: 1.2em;

                        &:focus {
                            outline: none;
                        }
                    }

                    &:focus-within {
                        border: 4px solid $clr5;
                    }
                }
            }
        }
    }
}