.lgsngos {
  position: absolute;
  bottom: -17;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  height: auto;
  background-color: $clr2;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 2px;
  grid-auto-flow: row;
  padding: 8px;
  grid-template-areas:
    "lg1 lg2 lg3";

  .lg1 {
    grid-area: lg1;
    justify-self: center;
    align-self: center;
    padding-bottom: 8px;

    img {
      width: auto;
      height: 45px;
    }
  }

  .lg2 {
    grid-area: lg2;
    justify-self: center;
    align-self: center;
    padding-bottom: 8px;

    img {
      width: auto;
      height: 45px;
    }
  }

  .lg3 {
    grid-area: lg3;
    justify-self: center;
    align-self: center;
    padding-bottom: 8px;

    img {
      width: auto;
      height: 45px;
    }
  }
}