// Momentum Color Palette

$momentum_clr1: #FFC075;
$momentum_clr2: #F3682F;
$momentum_clr3: #F04A48;
$momentum_clr4: #C5124D;

$momentum_clr5: #B5D9B3;
$momentum_clr6: #299296;
$momentum_clr7: #DFBFE8;
$momentum_clr8: #9E53A8;

$momentum_clr9: #FFFFFF;
$momentum_clr10: #CACACE;
$momentum_clr11: #7D7D7D;
$momentum_clr12: #323132;


$clr1: $momentum_clr6;
$clr2: $momentum_clr5;
$clr3: #b5d9b377;
$clr4: #b5d9b32c;

// Tab
$color_1: $momentum_clr6;
$color_2: $momentum_clr2;
$color_3: $momentum_clr9;
$color_4: $momentum_clr6;

$color_5: $momentum_clr1;
$color_6: $momentum_clr2;

//contents tabs

$tb1_clr1: #9CE2F2;
$tb1_clr2: #DAECDB;

$tb2_clr1: #DFBFE8;
$tb2_clr2: #f7e2fd;

$tb3_clr1: #fac88b;
$tb3_clr2: #ffead0;

// custom_tab ui-tabs-nav ui-corner-all ui-helper-reset ui-helper-clearfix ui-widget-header

// ui-tabs-tab ui-corner-top ui-state-default ui-tab ui-tabs-active ui-state-active
// ui-tabs-tab ui-corner-top ui-state-default ui-tab
// ui-tabs-tab ui-corner-top ui-state-default ui-tab

$clr_p:#151F6D;
$clr_ps:#FFFFFF;
$clr_s:#00A6E2;
$clr_ss:#9CE2F2;

$clr_cta:#EAAA00;
$clr_brdr: #e6e6e6;